@charset "UTF-8";

* {
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 100%;
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", "Noto Serif Japanese", serif;
    font-size: 62.5%;
  margin: 0;
  padding:0;
  background-color:  #faf1e6;
}

.profile-card h2,
.profile-card h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

h3{
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #faf1e6;
  padding: 10px;
  margin-top: 10px;
}



.logo img {
  height: 60px;
}
.logo{
  display: flex;
  align-items: center;
}

.logo p{
font-size:x-large;
}



nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  overflow-x: auto;
}

nav ul li {
  padding: 20px 80%;
  margin: 0;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  overflow-x: auto;
}

nav ul li {
  padding: 0 20px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

.staff-member {
  margin-bottom: 30px;
}

.staff-member img {
  width: 200px;
  height: 200px;
}

.staff-member h3 {
  font-size: 22px;
}

.main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

#home {
  background-image: url(image/IMG_8032.JPG);
  min-height:15vh;
  max-width: 100%;
  margin: 0 auto;
  background-size: cover;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0; 
}

#home h2 {
  color: #fff;
}
#home p {
  color: #fff;
}


/* main */


main {
  text-align: center;
}

.profile {
  display: block;
  margin-top: 10%;
  padding-top: 10px;
  background-color: #f5f5f5;
  border-radius: 45px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  padding: 0px;
  margin-bottom: 20px;
  text-align: left;
}


.profile-card .profile-header {
  width: 60%;
}

.profile-card .profile-details {
  width: 40%;
  background-color: #eaeaea;
  border-radius: 10px;
  padding: 10px;
  padding-top: 10px;
  margin-top: 0px;
  margin-left: 15px;
}

.profile-card .profile-details h4 {
  margin-top: 0;
}

.profile-card .profile-details p {
  margin-bottom: 5px;
}

.profile-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

.profile-card h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.profile-card p {
  margin-bottom: 10px;
}







/* footer降ったーーーーーーーーーーーーーーーーーーーーーー */



.footer {
  text-align: center;
  margin-top: 2rem;
  padding: 0;
  font-size: 15px;
  color: #4b5564;
  background: #faf1e6;
  }

  .lg-flex md-justify-between{
    text-align: center;
  }

  .footer__navi-heading {
  font-weight: 600;
  }
  
  .footer__navi li {
  margin-bottom: 0.75rem;
  list-style: none;
  text-decoration: none;
  }
  .footer__address {
    text-align: center;
  margin-bottom: 2rem;
  }
  .footer__address a {
  text-decoration: underline;
  }
  
  
  



/* レスポンシブ対応 */
@media (max-width: 767px) {
  /* スマホサイズに適用されるスタイル */

  /* ヘッダーメニュー */
  header {
    display: block;
    text-align: center;
  }


.logo{
  justify-content: center;
}

  nav ul {
    display: flex;
    flex-basis: 96%;

    align-items: center;
    padding: 0;
    margin-top: 10px;
  }

  .side-button {
    width: auto;
    text-align: center;
    flex-basis: 75%;
    display: inline-block;
    background-color: #7DBDCB;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    margin-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
    }
  

  .profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
  }

  .profile-card .profile-details {
    width: 90%;
    padding: 20px;
    padding-top: 5%;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  /* ヘッダーのh1 */
  header h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  /* ヘッダーメニューのリンク */
  nav ul li a {
    font-size: 16px; /* スマホに最適な文字サイズに設定 */
  }

  footer {
    text-align: center;
  }
  
  
}

@media (min-width: 768px) {
  /* スマホよりも大きな画面サイズに適用されるスタイル */

  /* ヘッダー */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  /* ナビゲーションメニュー */
  nav ul li {
    padding: 0 30px;
  }

  /* プロフィールカード */
  .profile {
    display: block;
    margin: 10%;
    padding: 5%;
    background-color: #f5f5f5;
  }
  
  .profile-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .profile-card .profile-header {
    width: 60%;
  }

  .profile-card .profile-details {
    width: 40%;
    padding: 20px;
    padding-top: 5%;
  }
/* へっだー */
  .md-flex {
    display: flex;
  }
  .md-justify-between {
    justify-content: space-between;
  }
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  } 
  .footer__address a {
    text-decoration: none;
    pointer-events: none;
  }
  }

  @media (min-width: 1024px) {
  /* タブレットよりも大きな画面サイズに適用されるスタイル */

  /* プロフィールカード */
  .profile-card .profile-header {
    width: 60%;
  }

  .profile-card .profile-details {
    width: 40%;
    padding: 20px;
  }
  .lg-flex {
    display: flex;
  }
}


@media (min-width: 1280px) {
  /* デスクトップサイズに適用されるスタイル */

  /* プロフィールカード */
  .profile-card .profile-header {
    width: 50%;
  }

  .profile-card .profile-details {
    width: 50%;
    padding: 40px;
  }

.profile-card .profile-header {
  width: 50%;
}

.profile-card .profile-details {
  width: 50%;
  padding: 20px;
}
  /* ヘッダー */
  header {
    padding: 40px;
  }

  /* ナビゲーションメニュー */
  nav ul li {
    padding: 0 50px;
  }

  /* プロフィールカード */
  

  .profile-card .profile-details {
    padding: 40px;
  }
}


/* contact */
iframe  {
  height: 100vh;
  width: 100%;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
/* フォーム */

.wrapper {
  display: block ;
  justify-content: center;
  }

form div {
  margin-bottom: 14px;
}
label {
  font-size :1.125rem ;
  margin-bottom:10px;
  display: block;
}
input[type="text"],
input[type="email"],
textarea {
  background: rgba(255, 255, 255, .5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}


input[type="text"],
input[type="email"]{
  width:100%;
  max-width: 240px;
}
textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}
input[type="submit"]{
  border: none;
  cursor: pointer;
  line-height: 1;
}
